.microsoft-page{
    height: 100vh;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header{
    margin: 16px 144px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    text-transform: capitalize;
}
.logo{
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;

}
.logo img{
    height: 22px;
}
.logo .menu{
display: flex;
flex-direction: row;
gap: 12px; 
}
.logo .menu a{
 text-decoration: none;
 color: black;
}
.navigation{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.navigation p{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.navigation p img{
    width: 20px;
    height: 20px;
}
.offers-section{
    background-color: #0067b8;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.offers-section a{
    color: white;
    font-size: 20px;
}
.landing-section{
background-image: url(/assets/images/Highlight-Hero-Surface-Family-Platinum-Windows-11\ VP1-539x440.avif);
background-color: #f2f2f2;
background-repeat: no-repeat;
background-size: 900px;
height: 600px;
}
.landing-section .right-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 300px;
    left: 900px;
    width: 300px;
}
.shop-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 256px;
    margin-top: 64px;
}
.shop-container .shop-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.shop-container .shop-item a{
color: #0067b8;
font-weight: bold;
}
.items-detail-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    gap: 30px;
    margin: 100px 95px;
    /* //change: set min height to be the height of the longest child height */
    min-height:500px;
}
.items-detail-section .item{
    width: 382px;
    /* //change: set item height to 100% of its parent */
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.items-detail-section .title{
    font-size: 30px;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.items-detail-section img{
    height: 214px;
    width: 382px;
}
.items-detail-section p{
    line-height: 1.6;

}
.games-section{

}